* { -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; }

html {-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;}    

/* body rules here*/
body {
    font-family: verdana;
    font-size: 16px;
}

/* headr rules here*/
header {
    background-color : #17a8e4;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
}
header h2 {
    margin: 0;
}



/* navigation rules here */
nav {background-color: #111;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #333;}

nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav a:hover {background-color: #444;}

/* main rules here */
main {
    padding: 1rem 2%;
}

main h1 {color: #17a8e4;}

main figure img {width: 100%;}
main figure {
    width: 100%;
    margin: 0;
}
main figcaption {text-align: center; font-size: .8rem;}

table{
   border-collapse:collapse;
   border:1px solid;
}
    
table td{
    border:1px solid;
    overflow: auto;
    padding: 2rem;
}

.siteheader {
    font-family: 'Secular One', sans-serif;
    background-color: red;
    color: #eee;
    font-size: 40px;
}

.primarynavigation {
    font-family: 'Secular One', sans-serif;
    background-color: rgb(253, 39, 39);
    color: #eee;
    font-size: 30px;
}

.footernavigation {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(255, 82, 82);
    color: #eee;
    font-size: 20px;
}

.header1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: red;
    border-color: #111;
}

.header2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
    border-color: #111;
}

.header3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
    border-color: #111;
}

.ptext {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: #111;
}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #17a8e4;
}