

body {
  font-size: 16px;
  font-family:'Manrope', sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color: navy;
  border-bottom: 1px solid rgb(139, 125, 125);
  text-shadow: 0 0 15px rgb(139, 125, 125);
  text-align: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: navy;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid #bbb;
}

h3 {
  margin: 0;
}

h4 {
  color: #333;
  margin: 7px 0 5px 0;
}

p {
  margin: 0.5rem;
}

main {
  margin-left: 2rem;
}

.cards {
    background-color: rgb(226, 216, 216);
    padding: 10px;
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: rgba(255, 169, 169, 0.808);
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  overflow: hidden;
}

img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px #777;
  height: 200px;
  border: 1px solid #333;
  margin: 0.5rem;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}

@media only screen and (min-width: 800px) {

 .cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   gap: 1rem;
 }

 section {
    width: 100%;
 }

}    
